/* styles */
/* called by your view template */

* {
  box-sizing: border-box;
}

body{
  padding:5cw;
}

/* hiding */

form, ._menu{
  display:none;
}

/* details */

section#info{
  position:fixed;
  top:0;
  width:100%;
  padding:1em;
  
  display:flex;
  justify-content: space-between;
}

#container {
  padding: 1em;
  width: 100vw;
  display:flex;
  flex-wrap:wrap;
  place-items:center;
  justify-content:center;
  text-align:center;
}

section#exp{
  margin-top:25vh;
}

.act{
  padding:2em;
}

._menu a{
  margin:1em;
}



/* FORM */

/* -- SPECIAL FORM STUFF */

._results{
  margin: 1em auto;
  display:none;
}

._results ._text{
  display:block;
}

/* -- STANDARD FORM STUFF */

form{
  max-width:450px;
  font-size:1.25em;
}

select{
  display: inline-block;
  padding:.5em;
}

._options{
    margin:1em auto;
}

._options label{
  padding:.5em;
}

._options label:hover{
  cursor:pointer;
}

._options input[type=radio]{
  padding:1.5em;
}

button{
  cursor:pointer;
}

button[type=submit]{
  padding:.5em;
  margin-bottom:1em;
}

button[type=submit]:hover{
cursor:pointer;
}

progress{
  padding:.5em;
}

progress::-webkit-progress-bar {
  background-color: lightgray;
  border-radius: 7px;
}

progress::-webkit-progress-value {
  background-color: black;
  border-radius: 7px;
}

/* ANSWERS */

section#answers{
  width:100%;
  margin-top:75vh;
  display:flex;
  justify-content:center;
  flex-wrap:wrap;
}

section#answers p{
  max-width:450px;
  margin:2em auto;
}

section#answers ._answer{
  width:450px;
  margin:0 auto;
}

